<nav role="navigation" aria-label="main navigation" class="navbar is-fixed-top">
    <div class="navbar-menu">
        <div class="navbar-menu">
            <img src="assets/telescope.svg" height="55" width="55" alt="telescope icon">
            <p class="navbar-item">Hubble Image Search</p>
            <div class="navbar-item">
                <div class="field">
                    <p class="control has-icons-right">
                        <input class="input" type="text" placeholder="Search">
                        <span class="icon is-small is-right">
                          <img width="200" src="assets/search.svg" alt="search icon">
                        </span>
                      </p>
                </div>
            </div>
        </div>
    </div>
</nav>